<nav class="navbar navbar-expand-lg navbar-fixed-top mb-3 navbar-light" id="navbar">
  <div class="container-fluid position-top">
    <div onclick="window.location.href='/'">
    <a class="nav-link" href="/"> 
     <img src="/images/banner.png" alt="" width="249" height="113">
    </a>
    </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="d-flex collapse navbar-collapse" id="navbarNav">
      <div class="p-2 "><a class="nav-link nav-text active" aria-current="page" href="/studentBookings">My Bookings</a></div>
      <div class="p-2 "> <a class="nav-link nav-text" href="/calendar">Book a Computer</a></div>
      <div class="p-2 "> <a class="nav-link nav-text" href="/account">Account</a></div>

      <div class="ms-auto p-2 justify-content-end">

        <form class="d-flex" method="POST" action="logout">
          <button class="btn btn-outline-primary nav-logout" type="submit">Logout</button>
        </form>

      </div>
    </div>
  </div>
</nav>