<div class="header">{{>navbar}}</div>
<div class="container bookTime">
    <div class="row">
        <div class="col">
            <div class="yourbookings align-self-center">
                <span id="">Your Account</span>
                <br>
                <h1>Username: {{ loggedInUser }}</h1>
                <h1>Hours Booked: {{ bookedHours }}</h1>
            </div>