<link rel="stylesheet" href="../stylesheets/style.css">
<div class="header">{{>adminnavbar}}</div>
<div class="titles" id="titles">
    <center>
    <h1>ADMIN Dashboard</h1>
    <h2> Welcome {{ user }}!</h2>
    </center>
</div>
<div class="container">
{{{body}}}
</div>