<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{!--
  <script language="javascript" src="js/bootstrap.min.js"></script> --}}
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/login-style.css' />
  <link rel='stylesheet' href='/stylesheets/navbar.css' />
  <link rel='stylesheet' href='/stylesheets/calendar.css' />
  <link rel='stylesheet' href='/stylesheets/bookaRoom.css' />
  <link rel='stylesheet' href='/stylesheets/bookaComputer.css' />
  <link rel='stylesheet' href='/stylesheets/student.css' />
    <link rel='stylesheet' href='/stylesheets/error.css' />

  <script src="/javascripts/login.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://kit.fontawesome.com/1123e696bd.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
  {{{body}}}
</body>
</html>